body {
    /* background: #111; */
    margin: 0;
    padding: 0;
}

.box {
    border: 2px solid black;
    margin: auto;
    width: 200px;
    height: 200px;

    background-color: aquamarine;

    /* transition: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out; */
}

@keyframes box {
    /* 0% {
        background-color: aquamarine; top: 0px;
    } */
    /* 50% {
        background-color: deeppink; color: white; top: 100px;
    } */
    100% {
        background-color: darkgreen; color: white; top: 0px;
    }
}

.box:hover {
    /* background-color: blueviolet; */
    animation: box 0.5s linear 0s 1;
    animation-timing-function:cubic-bezier(1, 0, 0, 1);
    /* animation-iteration-count: 1; */
}