/* * {
    margin: 0px;
    padding: 0px;
} */

body {
    font-family: poppins;
    background-color: #0077b6;
}

.main-box {
    width: 45vw;
    height: 80vh;

    margin: auto;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: #48cae4;
    box-shadow: 0px 0px 8px 2px black;
}

.input-area {
    width: 40vw;
    height: 60vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-left: 50px;
}

h1 {
    text-align: center;
    color: white;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.panel {
    width: 270px;
    height: 100px;
}

/* #sub-btn {
    width: 150px;
    height: 35px;

    margin-top: -20px;
    background-color: #ee9b00;
    color: white;
    font-weight: bold;

    border-radius: 5px;
} */

.inp-box {
    width: 200px;
    height: 30px;

    border: 2px solid #ee9b00;
    box-shadow: 0px 0px 4px 1px #ee9b00;
}

#gender {
    width: 200px;
    height: 35px;

    border: 2px solid #ee9b00;
    box-shadow: 0px 0px 4px 1px #ee9b00;
}

/* External Style for Js */
/* .newPopStyle {
    font-size: 24px;
    font-weight: bold;
} */

.container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-btn {
    padding: 10px 60px;
    background-color: #6fd649;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    border-radius: 30px;
    color: #fff;

    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;

}

.sub-btn:hover {
    border: 0;
    background-color: #fff;
    color: #6fd649;
    box-shadow: 0 0 10px 2px #6fd649;
}

.popup {
    width: 400px;
    background-color: #e2e2e2;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
}

.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%);

    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: bold;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px gba(0, 0, 0, 0.2);

    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.popup button:hover {
    border: 0;
    background-color: #fff;
    color: #6fd649;
    box-shadow: 0 0 10px 2px #6fd649;
}