h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

/* 
    Transform: scale() for X & Y axies
*/

div {
    height: 100px;
    width: 100px;

    margin: 20px;
    background-color: darkcyan;
    border: 3px solid black;
    display: inline-block;
}

h1:hover {
    color: white;
    background-color: brown;
    border: 3px solid black;

    transition: all 2s ease-in;
}

button {
    height: 30px;
    width: 100px;

    margin-left: 690px;
    color: white;
    background-color: deeppink;
    border-radius: 7px;

    transition: all 0.5s ease-in;
}

button:hover {
    /* color: white; */
    background-color: hotpink;

    transform: scale(1.1);
}

#box2 { 
    transition: all 2s linear;
}

#box2:hover {
    background-color: indianred;

    transform: scale(1.2, 1.2);
}

#box3 { 
    transition: all 2s ease-in;
}

#box3:hover {
    background-color: dodgerblue;

    transform: scaleX(1.3);
}

#box4 { 
    transition: all 2s linear;
}

#box4:hover {
    background-color: navy;

    transform: scaleY(1.3);
}

#box5 { 
    transition: all 2s linear;
}

#box5:hover {
    background-color: red;

    transform: scale(1.2, 1.2);
}

#box5:active {
    background-color: darksalmon;

    transform: scale(1.2, 1.2);
}

#box7 {
    font-size: large;
    font-weight: bold;

    text-align: center;

    transition: all 2s steps(5);
}

#box7:hover {
    color: crimson;
    font-size: x-large;
}

