* {
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

body {
    background-color: #e3e6e6;
}

/* 
    <-- Navbar -->
*/

.navbar {
    height: 60px;
    /* width: 100%; */

    background-color: #0f1111;
    color: white;
    /* transition: all; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}

/* 
    Logo
*/
#nav-logo {
    height: 55px;
    width: 110px;

    margin: 1px;
    /* margin-left: 5px; */

    padding: 1px 2px 5px 6px;
    border: 1px solid transparent;

    background-image: url(amazon_logo.png);
    background-size: cover;
}

#nav-logo:hover {
    border: 1px solid white;
}

/* 
    Address
*/

.nav-address {
    /* display: flex; */
    margin: 5px 2px 5px 0px;
    padding: 0px 12px 0px 12px;

    border: 1px solid transparent;
    color: white;
}

.nav-address:hover {
    border: 1px solid white;
}

#p1 {
    font-size: 0.7rem;
    color: #cccccc;

    margin-left: 15.5px;
}

#p2 {
    font-size: 14px;
    color: #ffffff;

    margin-left: 3px;
    font-weight: bold;
}

#nav-address-logo {
    display: flex;
}

/* 
    Search Box
*/

.nav-search {
    height: 60px;
    width: 848px;

    margin-top: 20px;
    /* margin-left: 8px; */
    padding: 10px 4px 10px 3px;
    display: flex;

    border-radius: 10px;
}

#search-select {
    width: 52px;
    height: 40px;

    border: none;
    background-color: #e6e6e6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    /* position: relative; */
    /* left: 4px; */
    text-align: center;
}

#search-input {
    width: 748px;
    height: 40px;

    font-size: 0.9rem;
    border: none;
}

#search-button {
    width: 45px;
    height: 40px;
    border: none;

    font-size: 20px;    
    background-color: #ffbc6c;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* position: relative;
    left: -4px; */
}

/* 
    language
*/

.nav-language {
   width: 87px;
   height: 50px; 

   border: 1px solid transparent;
   margin-left: 12px;
}

.nav-language:hover {
    border: 1px solid white;
}

#language-select {
    width: 70px;
    height: 33px;

    margin-top: 8px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;

    position: relative;
    bottom: 11px;
    left: 21px;
}

#language-logo {
    height: 14px;
    width: 28px;

    position: relative;
    top: 20px;
    /* top: 2px; */
    background-image: url(india.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* 
    Sign in
*/

.nav-singin {
    width: 135px;
    height: 50px;

    margin-left: 5px;
    border: 1px solid transparent;
    /* display: flex; */
    /* align-items: center; */
}

.nav-singin:hover {
    border: 1px solid white;
}

#signin-opt {
    margin-top: 10px;
    font-size: 12px;
}

#signin-account {
    font-weight: 14px;
    font-weight: bold;

    color: white;
    background-color: transparent;
    border: none;
}

/* 
    Order
*/

.nav-order {
    width: 76px;
    height: 50px;
    /* padding: 0px 9px 10px; */
    font-family: sans-serif;

    border: 1px solid transparent;
    color: white;
    /* margin-left: 3px; */
}

.nav-order:hover {
    border: 1px solid white;
}

/* #ord-box {
    padding: 0px 9px 10px;
} */

#ord-return {
    font-size: 12px;
    font-weight: lighter;

    margin-top: 10px;
}

#ord-order {
    font-size: 14px;
    font-weight: bolder;
}

/* 
    Cart
*/

.nav-cart {
    width: 84px;
    height: 50px;

    color: white;
    border: 1px solid transparent;
}

.nav-cart:hover {
    border: 1px solid white
}

#cart-element {
    flex-direction: row;
    padding: 0px 9px 11px;
}

#cart-icon {
    position: relative;
    top: 12px;
    font-size: 26px;
}

#cart-name {
    position: relative;
    left: 35px;
    bottom: 5px;

    font-weight: bold;
    font-size: 14px;
}


/* 
    <-- Panel -->
*/

.panel {
    height: 40px;

    color: white;
    background-color: #232f3e;
    display: flex;
    align-items: center;

    font-size: 0.88rem;
}

#opt1 {
    /* width: 58.5px; */
    height: 39px;

    padding-left: 11px;
    display: flex;
    align-items: center;

    margin-left: 11px;
    font-weight: bold;

    border: 1px solid transparent;
}

#opt1:hover {
    border: 1px solid white;
}

#opt1-icon {
    font-size: 1.1rem;
    margin-right: 5px;
}

#panel-options {
    width: 30%;
    display: flex;

    /* color: white; */
    justify-content: space-evenly;
    border: 1px solid transparent;
}

#panel-option:hover {
    border: 1px solid white;
}

/* 
    <-- Hero Section --> 
*/
.hero-section {
    height: 600px;
    background-image: url(hero_section4.jpg);
    background-size: cover;
}

#hero-massage {
    height: 40px;
    width: 96%;

    position: relative;
    top: 250px;
    left: 20px;

    text-align: center;
    font-size: 0.9rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#hero-massage-link {
    color: #007185;
}

#hero-massage-link:hover {
    /* margin-left: 2px; */
    color:brown;
    text-decoration: underline;
}

/* 
    <-- Shop-Section 1 -->
*/

/* 
    Shop box details
*/

.shop-section {
    margin-top: -290px;
    margin-left: 20px;
    /* margin-bottom: 20px; */
}

.shop-box-square {
    width: 340px;
    height: 420px;

    background-color: white;
}

.box-category-name {
    margin-top: 24px;
    margin-left: 20px;
    margin-bottom: 10px;

    font-size: 1.3rem;
    font-weight: bold;
}

.for-single-product {
    height: 320px;
    width: 300px;

    margin-left: 20px;
}

.shop-more-for-single {
    font-size: 0.75rem;

    position: relative;
    top: 330px;
    color: #007185;
}

.shop-more:hover {
    color: brown;
}

.product-text {
    position: relative;
    top: 118px;

    font-size: 0.75rem;
}

.for-four-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.four-product {
    height: 115px;
    width: 135px;

    margin-left: 20px;
    margin-bottom: 40px;
}

.shop-more-for-4-product {
    font-size: 0.75rem;

    margin-left: 20px;
    position: relative;
    top: 17px;
    color: #007185;
}


/* 
    Row 1
*/

.shop-box-row1 {
    width: 97.3%;
    height: 440px;

    /* background-color: pink; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
    Shop-box-1
*/

#box1-pro1 {
    background-image: url(Box1_a.jpg);
    background-size: cover;
}

#box1-pro2 {
    background-image: url(Box1_b.jpg);
    background-size: cover;
}

#box1-pro3 {
    background-image: url(Box1_c.jpg);
    background-size: cover;
}

#box1-pro4 {
    background-image: url(Box1_d.jpg);
    background-size: cover;
}

/* 
    Shop-box-2
*/

#box2-pro1 {
    background-image: url(Box2_a.jpg);
    background-size: cover;
}

#box2-pro2 {
    background-image: url(Box2_b.jpg);
    background-size: cover;
}

#box2-pro3 {
    background-image: url(Box2_c.jpg);
    background-size: cover;
}

#box2-pro4 {
    background-image: url(Box2_d.jpg);
    background-size: cover;
}

/* 
    Shop-box-3
*/

#box3-pro1 {
    background-image: url(Box3.jpg);
    background-size: cover;
}

/* 
    Shop-box-4
*/

#box4-pro1 {
    background-image: url(Box4_a.jpg);
    background-size: cover;
}

#box4-pro2 {
    background-image: url(Box4_b.jpg);
    background-size: cover;
}

#box4-pro3 {
    background-image: url(Box4_c.jpg);
    background-size: cover;
}

#box4-pro4 {
    background-image: url(Box4_d.jpg);
    background-size: cover;
}


/* 
    Row 2
*/

.shop-box-row2 {
    width: 97.3%;
    height: 440px;

    /* background-color: pink; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
    Shop-box-5,6,7
*/

#box5-pro1 {
    background-image: url(Box5_a.jpg);
    background-size: cover;
}

#box6-pro1 {
    background-image: url(Box6_a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#box7-pro1 {
    background-image: url(Box7_a.jpg);
    background-size: cover;
}


/* 
    Shop-box-8
*/

#box8-pro1 {
    background-image: url(Box8_a.jpg);
    background-size: cover;
}

#box8-pro2 {
    background-image: url(Box8_b.jpg);
    background-size: cover;
}

#box8-pro3 {
    background-image: url(Box8_c.jpg);
    background-size: cover;
}

#box8-pro4 {
    background-image: url(Box8_d.jpg);
    background-size: cover;
}

/* 
    Row 3
*/

.shop-box-row3 {
    width: 97.3%;
    height: 310px;

    /* background-color: pink; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop-box-long {
    width: 100%;
    height: 290px;

    background-color: white;
}

.for-long-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    /* margin-left: 20px; */
}

.row-wise-product {
    height: 200px;
    width: 195px;
}

/* 
    Shop box 9
*/

#box9-pro1 {
    background-image: url(Box9_a.jpg);
    background-size: cover;
}

#box9-pro2 {
    background-image: url(Box9_b.jpg);
    background-size: cover;
}

#box9-pro3 {
    background-image: url(Box9_c.jpg);
    background-size: cover;
}

#box9-pro4 {
    background-image: url(Box9_d.jpg);
    background-size: cover;
}

#box9-pro5 {
    background-image: url(Box9_e.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}

#box9-pro6 {
    background-image: url(Box9_f.jpg);
    background-size: cover;
}

/* 
    Row 4
*/

.shop-box-row4 {
    width: 97.3%;
    height: 440px;

    /* background-color: pink; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
    Shop-box-10
*/

#box10-pro1 {
    background-image: url(Box10_a.jpg);
    background-size: cover;
}

#box10-pro2 {
    background-image: url(Box10_b.jpg);
    background-size: cover;
}

#box10-pro3 {
    background-image: url(Box10_c.jpg);
    background-size: cover;
}

#box10-pro4 {
    background-image: url(Box10_d.jpg);
    background-size: cover;
}

/* 
    Shop-box-11
*/

#box11-pro1 {
    background-image: url(Box11_a.jpg);
    background-size: cover;
}

#box11-pro2 {
    background-image: url(Box11_b.jpg);
    background-size: cover;
}

#box11-pro3 {
    background-image: url(Box11_c.jpg);
    background-size: cover;
}

#box11-pro4 {
    background-image: url(Box11_d.jpg);
    background-size: cover;
}

/* 
    Shop-box-12
*/

#box12-pro1 {
    background-image: url(Box12_a.jpg);
    background-size: cover;
}

#box12-pro2 {
    background-image: url(Box12_b.jpg);
    background-size: cover;
}

#box12-pro3 {
    background-image: url(Box12_c.jpg);
    background-size: cover;
}

#box12-pro4 {
    background-image: url(Box12_d.jpg);
    background-size: cover;
}

/* 
    Shop-box-13
*/

#box13-pro1 {
    background-image: url(Box13_a.jpg);
    background-size: cover;
}

#box13-pro2 {
    background-image: url(Box13_b.jpg);
    background-size: cover;
}

#box13-pro3 {
    background-image: url(Box13_c.jpg);
    background-size: cover;
}

#box13-pro4 {
    background-image: url(Box13_d.jpg);
    background-size: cover;
}

/* 
    <-- Footer -->
*/

/* 
    Back to top
*/

.panel1 {
    height: 50px;

    text-align: center;
    color: white;
    background-color: #37475a;
    font-size: 13px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    panel 2
*/

.panel2 {
    height: 350px;

    background-color: #232f3e;
    color: white;
}

.panel2-main-box {
    padding: 50px 0px 0px 170px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-size: 14px;

    /* margin: 10px; */
}

ul p {
    font-weight: bold;
    font-size: 16px;
}

ul a {
    display: block;

    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;

    color: #dddddd;
}

ul a:hover {
    text-decoration:double;
    /* color: #ffbc6c; */
}

/* 
    Panle 3
*/

.panel3 {
    height: 90px;
    background-color: #232f3e;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-top: 0.2px solid rgb(221,221,221,0.1);

}

.panel-3-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: #dddddd;
    font-size: 13px;

    /* margin-right: 50px; */
}

.panel-3-box div {
    margin-right: 7px;
}

#foot-logo {
    height: 43px;
    width: 96px;

    background-image: url(amazon_logo.png);
    background-size: cover;

    margin-left: 30px;
    margin-right: 30px;
}

#foot-language {
    height: 32px;
    width: 116px;

    border: 0.5px solid rgb(221,221,221,0.5);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 5%;
}

#foot-language-select {
    background-color: transparent;
    color: #dddddd;
    border: transparent;
}

#foot-currency {
    height: 32px;
    width: 150px;

    border: 0.5px solid rgb(221,221,221,0.5);
    border-radius: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#foot-country {
    height: 32px;
    width: 88px;

    border: 0.5px solid rgb(221,221,221,0.5);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 5%;
}

#foot-country-logo {
    height: 12px;
    width: 18px;

    background-image: url(india.png);
    background-size: cover;
}

/* 
    Panel 4
*/

.panel4 {
    height: 50px;
    color: #dddddd;
    background-color: #131a22;

    font-size: 12px;
    text-align: center;

    padding-top: 20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#foot-cradit {
    margin-bottom: 7px;
}

#foot-cradit a {
    margin-right: 15px;
}