* {
    margin: 0px;
    padding: 0px;

    font-family: roboto;
}

.nav-bar {
    width: 100vw;
    height: 12vh;

    background-color: rgb(00, 00, 00, 0.5);

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 2;
}

.option-section a {
    color: white;
    text-decoration: none;

    margin-right: 10px;
}

.apply-btn button {
    font-weight: bold;
    font-size: 14px;
    width: 130px;
    height: 30px;

    color: white;
    background-color: #E30122;
    border: 2px solid white;
    border-radius: 20px;
}

.hero-section-image {
    width: 100vw;
    height: 95vh;
    z-index: 0;
}

.hero-section-image img {
    width: 100vw;
    height: 100vh;

    object-fit: contain;
    object-position: top left;
    z-index: 0;
}

.hero-black-screen {
    width: 100vw;
    height: 95vh;

    position: absolute;
    top: 0;
    background-color: rgb(00, 00, 00);
    opacity: 0.4;
    z-index: 1;
}

.main-title {
    width: 70vw;
    height: 30vh;
    /* background-color: #E30122; */
    z-index: 2;
    position: absolute;

    /* margin-left: auto; */
    top: 270px;
    left: 200px;
}

#title-p1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#title-p2 {
    font-size: 72px;
    font-weight: bold;
    color: white;
    text-align: center;
}

main {
    margin-top: 30px;
}

.Infrastructure {
    width: 80vw;
    height: 150vh;

    /* background-color: #E30122; */
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    height: 270px;
    width: 330px;
    padding: 20px;

    background-color: rgb(00, 00, 00, 0.05);
    border-radius: 10px;
}

.box:hover {
    transform: scale(1.03);
    background-color: rgb(00, 00, 00, 0.1);
}

.box img {
    height: 300px;
    width: 325px;

    object-fit: contain;
    object-position: top;

    border-radius: 10px;
}

.box p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: -60px;
}

.foot-box {
    height: 5vh;
    padding: 20px;

    background-color: #192223;
}

.foot-box a {
    font-size: 24px;
    color: white;
    text-decoration: none;

    font-weight: bold;
    /* margin-left: 5px; */
}

.foot-box a:hover {
    text-decoration: underline;
}