/* 
    Relative Units --> %
*/

#box1 {
    height: 100px;
    width: 100px;

    border: 2px solid;
    background-color: pink;
}

#one {
    height: 50px;
    width: 50%;

    background-color: brown;
}

#box2 {
    height: 200px;
    width: 200px;

    border: 2px solid blue;
    background-color: pink;

    box-sizing: border-box;
    margin: auto;
}

#two {
    height: 50%;
    width: 50%;

    background-color: brown;
    margin: auto;

    /* border: 2px solid black; */
}

#inner-box2 {
    height: 50%;
    width: 50%;

    background-color: pink;
    margin: auto;

    border: 1px solid black;
}

#box3 {
    height: 100px;
    width: 200px;

    border: 2px solid;
    background-color: pink;

    font-size: 10px;
}

#three {
    height: 50px;
    width: 33%;

    background-color: brown;
}


#three {
    height: 50px;
    width: 33%;

    background-color: brown;
}

#box4 {
    height: 100px;
    width: 200px;

    border: 2px solid;
    background-color: pink;

    font-size: 10px;
}

/* 
    Relative-units --> em (Based on the parent Unit Size)
*/

#four {
    height: 50px;
    width: 33%;

    background-color: brown;

    font-size: 2em;
}

#box5 {
    height: 100px;
    /* width: 200px; */
    box-sizing: border-box;

    border: 2px solid;
    background-color: pink;

    font-size: 10px;
}

#five {
    height: 50px;
    width: 33%;

    background-color: brown;

    font-size: 2em;
    width: 5em;
}

/* 
    Relative-units --> rem (Based on the Outer most Unit Size --> HTML Tag)
*/

#box6 {
    height: 100px;
    width: 200px;

    border: 2px solid;
    background-color: pink;

    font-size: 10px;
}

#six {
    height: 50px;
    width: 33%;

    background-color: brown;

    font-size: 2rem;
    width: 5rem;
}

/* 
    Relative-units --> vh & vw (Viewport height & Viewport width)
*/

#box7 {
    height: 50vh;
    width: 50vw;

    border: 2px solid;
    background-color: pink;

    font-size: 10px;
}

#seven {
    height: 50px;
    /* width: 33%; */

    background-color: brown;

    font-size: 2rem;
    width: 50vw;
}

/* 
    V-min & V-max
*/

#box8 {
    max-width: 80vw;
    max-height: 30vh;

    background-color: aqua;
    border: 2px solid black;

    margin: auto;
}