div {
    width: 320px;
    height: 320px;

    display: inline-block;
    background-color: gold;
    border: 4px solid black;
    margin-top: 30px;

    position: absolute;
}

#box1 {
    /* margin-left: 50px; */
    background-color: green;
    top: 170px;

    left: 350px;
}

#box2 {
    background-color: yellow;
    top: 280px;
    left: 300px;
}

#box3 {
    background-color: red;
    top: 240px;
    left: 400px;
}

#box4 {
    background-color: blue;
    top: 130px;
    left: 450px;
}

/* 
    Z-index (0 --> dafault value)
    Negative are Lesser & Positive are Greater
*/

.main {
    margin-left: 700px;
}

#box5 {
    background-color: green;
    top: 170px;

    left: 350px;

    z-index: 2;
}

#box6 {
    background-color: yellow;
    top: 280px;
    left: 300px;

    z-index: 0;
}

#box7 {
    background-color: red;
    top: 240px;
    left: 400px;

    z-index: 5;
}

#box8 {
    background-color: blue;
    top: 130px;
    left: 450px;

    z-index: -1;
}