h1 {
    text-align: center;
}

.outer-box {
    display: flex;
    flex-wrap: wrap;

    /* justify-content: ; */

    gap: 40px;
}

.box1 {
    height: 200px;
    width: 400px;

    border: 3px solid black;
    overflow: scroll;  
}

.box2 {
    height: 200px;
    width: 400px;

    border: 3px solid black;
    overflow: auto;  
}

.box3 {
    height: 200px;
    width: 400px;

    border: 3px solid black;
    overflow: scroll;  
}

.box4 {
    height: 200px;
    width: 400px;

    border: 3px solid black;
    overflow: auto;  
}

.box5 {
    height: 200px;
    width: 400px;

    border: 3px solid black;
    overflow: scroll; 
    
    white-space: nowrap;
}

.box6 {
    height: 200px;
    width: 400px;

    border: 3px solid black;

    overflow-x: hidden;  
    overflow-y: scroll;
}

.box7 {
    height: 200px;
    width: 400px;

    border: 3px solid black;
    overflow: hidden auto;  
}