* {
    margin: 0px;
    padding: 0px;
}

h1 {
    height: 50px;
    background-color: brown;
    color: white;
    text-decoration: underline;
    padding-top: 10px;
    padding-left: 30px;
}

.box1 {
    width: 30vw;

    margin-left: 10px;
}

#video1 {
    margin: 10px;
}