div {
    margin: 10px;

    height: 100px;
    width: 100px;

    border: 2px solid black;
}

p {
    margin-left: 10px;
    /* font-weight: bold; */
}

#box1 {
    background-color: lightseagreen;
}

#box2 {
    background-color: pink;
}

#box3 {
    background-color: lime;
}

/* 
    Media-Queries
*/
@media (width: 600px) {
    #box1 {
        background-color: brown;
    }
}

@media (min-width: 600px) {
    #box2 {
        background-color: cornflowerblue;
    }
}

@media (max-width: 600px) {
    #box3 {
        background-color: chocolate;
    }
}

/* 
    media queries for Text
*/
@media (min-width: 600px) {
    #para1 {
        font-size: large;
        font-weight: bolder;
    }
}

@media (max-width: 600px) {
    #para2 {
        font-size: large;
        font-weight: bold;
    }
}

/* 
    Media-Queries for a Range
*/

#box4 {
    background-color: yellow;
}

#box5 {
    background-color: brown;
}

@media (min-width: 400px) and (max-width: 600px) {
    #box4 {
        background-color: blue;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    #box5 {
        background-color: deeppink;
    }
}