* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    /* background-color: #d1f6ff; */
    background-image: url(assets/bg6.png);
    background-repeat: repeat;
    background-size: cover;

    font-family: roboto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a i {
    color: rgb(00, 00, 00, 0.4);
}

/* 
    Share Bar
*/

.share-bar {
    height: 4.375rem;
    /* width: 584px; */

    display: flex;
    align-items: center;
    justify-content: center;
}

#share-icon {
    width: 2.4rem;
    height: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid rgb(00, 00, 00, 0.07);
    background-color: #f0f0f0;

    position: relative;
    top: 1.25rem;
    left: 15.625rem;
}

/* 
    <-- Profile -->
*/

.profile {
    height: 10.625rem;
    width: 10.625rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 6.25rem;
    width: 6.25rem;

    border-radius: 50%;

    background-image: url(assets/Chandan_Logo.png);
    background-size: contain;
}

#name {
    font-size: 1.25rem;

    margin: 0.625rem;
    color: white;
    font-weight: bold;
}

#description {
    font-size: 1rem;

    color:white;
    font-weight: bold;
}

/* 
    Links Area
*/

.link-box {
    width: 38rem;

    margin-top: 1.875rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link {
    height: 4.0625rem;
    width: 37.5rem;

    background-color: white;
    /* border-radius: 1.875rem; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    margin-bottom: 1rem;

    transition: all 0.2s linear;

    box-shadow: 1px 1px 9px 0px rgb(34, 34, 34, 0.3);
}

.link:hover {
    transform: scale(1.02);
    color: white;
    background-color: #FBE433;
}

@media (max-width: 700px) {
    .link {
        width: 24rem;
        height: 3.7rem;
    }

    #share-icon {
        width: 2rem;
        height: 2rem;

        top: 1.25rem;
        left: 11rem;
    }

    #logo {
        height: 5.8rem;
        width: 5.8rem;
    }

    #name {
        font-size: 1.2rem;
    }
    
    #description {
        font-size: 0.9rem;
    }
}

@media (max-width: 460px) {
    .link {
        width: 20rem;
        height: 3.5rem;
    }

    #share-icon {
        top: 1.25rem;
        left: 9rem;
    }
}

#link-icon1 {
    color: #083170;
    font-size: 1.6rem;
    margin-left: 1.25rem;
}

#link-name {
    font-size: 1rem;
    font-weight: 500;
    color: #1e3749;

    transition: all 0.2s linear;

}

#link-icon2 {
    margin-right: 1.25rem;
}

.foot-description {
    height: 2.1875rem;
    text-align: center;

    font-size: 0.75rem;

    padding-top: 0.9rem;
}